@import '../vars';
.bold-button{
 height: min-content;
 text-decoration: none;
 font-weight:400;
 font-size: 2rem;
 font-size: 1.5vw;
 color: var(--color-texto-principal);
 padding: 7px 13px;
 background-color: var(--color-principal);
 margin-left:8px ;
}