@import '../vars';

.header{
 width: 100%;
 display: grid;
 grid-template-columns: 1fr 3fr 2fr;
 padding: 0 55px;
 justify-content: space-between;
 padding-top: 10px;
}
.logo-img{
 width: 80%;
 max-width: 280px;
 min-width: 130px;
}
.pages-buttons{
 align-self: center;
 justify-self: center;
 width: 90%;
}
.pages-swicht{
 text-decoration: none;
 padding: 1.5%;

 font-weight: 700;
 font-size: 1.5vw;
 color: var(--color-texto-secundario);
}
.pages-swicht:hover{
 color: var(--color-texto-pricipal);
}
.pages-swicht:active{
 color: var(--color-texto-pricipal);
}
.navbar-right{
 display: flex;
 justify-self: end;
 height: min-content;
 align-self: center;
}
.menu-mobile{
 display: none;
}
@media (max-width: 800px){
 .header{
  display: flex;
 }
 .logo-img{
  width: 20%;
  min-width: 147px;
 }
 .pages-buttons{
  display: none;
 }
 .navbar-right{
  display: none;
 }
 .menu-mobile{
  display: flex;
  width: 50px;
  align-self: center;
  justify-self: end;
  cursor: pointer;
 }
}